//Font Family
$roboto: 'Roboto Mono', monospace;

//Font weight
$regular: 400;
$bold: 700; 

//Font size
$xxxx-large: 130px;
$xxx-large: 100px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px; 
$medium: 16px;
$small: 14px;
$x-small: 12px; 

//Colores
//First Color Scheme
$white: #FFF;
$platinum: #E8E8E8;
$gray: #BABABA;

//Second color Scheme
$carmine-pink: #E94F37;
$salmon: #EF7F6D;

//Third color Scheme
$black-olive: #393E41;
$granite-gray: #5D6163;
$old-silver: #818486;